<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top bar-header">
  <a class="navbar-brand" href="index.html"><img class="logo" src="../../assets/images/logo.png" alt="cucas"></a>
  <button class="hamburger navbar-toggler btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"  aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarTogglerDemo02">
    <i class="bar-toggler-icon fas fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a (click)="isCollapsed = true" class="nav-link" href="#about-my"><span class="">Sobre Mí</span></a>
      </li>
      <li class="nav-item">
        <a (click)="isCollapsed = true" class="nav-link" href="#port">Portafolio</a>
      </li>
      <li class="nav-item">
        <a (click)="isCollapsed = true" class="nav-link" href="#tech">Conocimientos</a>
      </li>
      <li class="nav-item">
        <a id="cv" (click)="isCollapsed = true" class="nav-link" href="#">Curriculum <i class="far fa-arrow-alt-circle-down"></i></a>
      </li>
      <li class="nav-item">
        <a (click)="isCollapsed = true" class="nav-link" href="#contacto">Contacto</a>
      </li>
    </ul>
  </div>
</nav>