
    <footer id="contacto" class="cont-back text-center text-lg-start bg-light">
      <div class="container-contact">
        <h2 style="margin-bottom: 5px; margin-top: 5px; text-align: center; text-transform: uppercase; color: white;">
          {{contact}}
        </h2>
        <div class="red-cont container d-flex justify-content-center py-3">
          <a href="https://www.facebook.com/alfredo.roqueromero" target="_blanck">
            <button  type="button" class="btn-net btn-net-facebook btn btn-primary btn-lg btn-floating mx-2" style="background-color: #C6C7C8; border: none;">
              <i class="fab fa-facebook-f"></i>
            </button>
          </a>
          <a href="https://www.linkedin.com/in/irineo-alfredo-roque-romero-3490a7184/" target="_blanck">
            <button type="button" class="btn-net btn-net-linkedin btn btn-primary btn-lg btn-floating mx-2" style="background-color: #C6C7C8; border: none;">
              <i class="fab fa-linkedin-in"></i>
            </button>
          </a>
          <a href="https://www.instagram.com/cucasrocke/" target="_blanck">
            <button type="button" class="btn-net btn-net-instagram btn btn-primary btn-lg btn-floating mx-2" style="background-color: #C6C7C8; border: none;">
              <i class="fab fa-instagram"></i>
            </button>
          </a>
          <a href="https://twitter.com/Alfredo_Rocke" target="_blanck">
            <button type="button" class="btn-net btn-net-twitter btn-primary btn-lg btn-floating mx-2" style="background-color: #C6C7C8; border: none;">
              <i class="fab fa-twitter"></i>
            </button>
          </a>
          <a href="mailto:alfredorokeromero@hotmail.com" target="_blanck">
            <button type="button" class="btn-net btn-net-envelope btn-primary btn-lg btn-floating mx-2" style="background-color: #C6C7C8; border: none;">
              <i class="far fa-envelope"></i>
            </button>
          </a>
        </div>
      </div>
  
      <div class="last-back text-center text-white p-2" style="font-size: medium;">
        © 2021 Copyright:
        <a class="text-white" style="text-decoration: none;">AlfredoRoque</a>
      </div>
    </footer>