<hr class="horizontal-line" id="about-my">
<div class="card my-card" style="width: 28rem;">
    <h1 class="title">
        {{name}} 
    </h1>
    <img src="../../assets/images/cucas.jpg" class="card-img-top" alt="Alfredo Roque">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{description}} <span style="font-size: smaller;">{{cvinfo}}</span></p>
      <a id="port" target="_blanck" href="https://github.com/AlfredoRoque" class="btn btn-primary" style="background-color: #1C3144; border: none;"><i class="fab fa-github-square" style="font-size: 25px; padding: 0 5px 0 0;"></i> ir a Git Hub</a>
    </div>
</div>
