<!-- Gallery -->
<div class="proyects">
    <h1 style="margin-bottom: 50px;" class="title">
        {{portafolio}}
    </h1>
    <div class="row" style="margin: 0px 0px 15px 20px;">
        <div class="gallery">
            <div *ngFor="let image of images" class="proyect">
                <div class="w-100 shadow-1-strong rounded mb-2">
                    <img [src]="image" alt="Imagen" loading="lazy" class="img-proyect" />
                    <div class="link-proyect">
                        <a target="_blanck" title="Repositorio" class="link-proyect-a" style="text-decoration: none;"
                            href="https://github.com/AlfredoRoque/webpag">
                            <i class="icon-action fa-brands fa-github"></i>
                        </a>
                        <a target="_blanck" title="Muestra" class="link-proyect-a" style="text-decoration: none;"
                            href="https://webcamp-dev.herokuapp.com/">
                            <i class="icon-action fa-solid fa-right-from-bracket"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Gallery -->