<!-- Gallery -->
<div class="proyects">
    <h1 style="margin-bottom: 50px;" class="title">
        {{portafolio}}
    </h1>
    <div class="row" style="margin: 0px 0px 15px 20px;">
        <div class="gallery">
            <div *ngFor="let proyect of proyects" class="proyect">
                <div *ngIf="proyect.imagesPath !== ''" class="w-100 shadow-1-strong rounded mb-2">
                    <img [src]="proyect.imagesPath" alt="Imagen" loading="lazy" class="img-proyect" />
                    <div class="link-proyect">
                        <a *ngIf="proyect.linkRepository !== ''" target="_blanck" title="Repositorio" class="link-proyect-a" style="text-decoration: none;"
                            [href]="proyect.linkRepository">
                            <i class="icon-action fa-brands fa-github"></i>
                        </a>
                        <a *ngIf="proyect.linkProject !== ''" target="_blanck" title="Muestra" class="link-proyect-a" style="text-decoration: none;"
                            [href]="proyect.linkProject">
                            <i class="icon-action fa-solid fa-right-from-bracket"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Gallery -->