<!-- Gallery -->
<div class="proyects">
    <h1 style="margin-bottom: 50px;" class="title">
        {{portafolio}}
    </h1>
    <div class="row" style="margin: 0px 0px 15px 20px;">
        <div class="proyect col-lg-4 mb-4 mb-lg-2">
          <div class="w-100 shadow-1-strong rounded mb-2 img-proyect-1">
            <div class="link-proyect">
                    <a target="_blanck" title="Repositorio" class="link-proyect-a" style="text-decoration: none;" href="https://github.com/AlfredoRoque/webpag">
                        <i class="fab fa-github-square" style="font-size: 25px; padding: 0 10px 0 0;"></i>
                    </a>
                    <a target="_blanck" title="Muestra" class="link-proyect-a" style="text-decoration: none;" href="https://webcamp-dev.herokuapp.com/">
                        <i class="fas fa-external-link-alt" style="font-size: 25px; padding: 0 10px 0 0;"></i>
                    </a>
            </div>
          </div>
        </div>

        <div class="proyect col-lg-4 mb-4 mb-lg-2">
            <div class="w-100 shadow-1-strong rounded mb-2 img-proyect-6">
                <div class="link-proyect">
                        <a target="_blanck" title="Muestra" class="link-proyect-a" style="text-decoration: none;" href="https://siaf.finanzas-puebla.mx/">
                            <i class="fas fa-external-link-alt" style="font-size: 25px; padding: 0 10px 0 0;"></i>
                        </a>
                </div>
            </div>
        </div>
      
        <div class="proyect col-lg-4 mb-4 mb-lg-2">
            <div class="w-100 shadow-1-strong rounded mb-2 img-proyect-2">
                <div class="link-proyect">
                        <a target="_blanck" title="Repositorio" class="link-proyect-a" style="text-decoration: none;" href="https://github.com/AlfredoRoque/examen">
                            <i class="fab fa-github-square" style="font-size: 25px; padding: 0 10px 0 0;"></i>
                        </a>
                        <a target="_blanck" title="Muestra" class="link-proyect-a" style="text-decoration: none;" href="https://examen-22.herokuapp.com/">
                            <i class="fas fa-external-link-alt" style="font-size: 25px; padding: 0 10px 0 0;"></i>
                        </a>
                </div>
            </div>
        </div>
      
        <div class="proyect col-lg-4 mb-4 mb-lg-2">
            <div class="w-100 shadow-1-strong rounded mb-2 img-proyect-3">
                <div class="link-proyect">
                        <a target="_blanck" title="Repositorio" class="link-proyect-a" style="text-decoration: none;" href="https://github.com/AlfredoRoque/pokedex">
                            <i class="fab fa-github-square" style="font-size: 25px; padding: 0 10px 0 0;"></i>
                        </a>
                        <a target="_blanck" title="Muestra" class="link-proyect-a" style="text-decoration: none;" href="https://pokedex-inc.herokuapp.com/">
                            <i class="fas fa-external-link-alt" style="font-size: 25px; padding: 0 10px 0 0;"></i>
                        </a>
                </div>
            </div>
        </div>
        <div class="proyect col-lg-4 mb-4 mb-lg-2">
            <div class="w-100 shadow-1-strong rounded mb-2 img-proyect-4">
              <div class="link-proyect">
                      <a target="_blanck" title="Repositorio" class="link-proyect-a" style="text-decoration: none;" href="https://github.com/AlfredoRoque/administradorTareas">
                          <i class="fab fa-github-square" style="font-size: 25px; padding: 0 10px 0 0;"></i>
                      </a>
                      <a target="_blanck" title="Muestra" class="link-proyect-a" style="text-decoration: none;" href="https://admin-projects.herokuapp.com/login.php">
                          <i class="fas fa-external-link-alt" style="font-size: 25px; padding: 0 10px 0 0;"></i>
                      </a>
              </div>
            </div>
          </div>
        
          <div class="proyect col-lg-4 mb-4 mb-lg-2">
              <div class="w-100 shadow-1-strong rounded mb-2 img-proyect-5">
                  <div class="link-proyect">
                          <a target="_blanck" title="Repositorio" class="link-proyect-a" style="text-decoration: none;" href="https://github.com/AlfredoRoque/CryptoCoins">
                              <i class="fab fa-github-square" style="font-size: 25px; padding: 0 10px 0 0;"></i>
                          </a>
                          <a id="tech" target="_blanck" title="Muestra" class="link-proyect-a" style="text-decoration: none;" href="https://crypto-coins-trade.herokuapp.com/">
                              <i class="fas fa-external-link-alt" style="font-size: 25px; padding: 0 10px 0 0;"></i>
                          </a>
                  </div>
              </div>
          </div>
    </div>
</div>
  <!-- Gallery -->
  