:root {
    --img-proyects--radius: 5%;
}
.first-component {
  position: relative;
  z-index: 1;
}
:host {
  display: block;
  width: 100%;
  min-height: 100vh;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: black;
  overflow-x: hidden;
}

.bar-header-size{
    height: 50px!important;
}

#space-bg {
  position: fixed;
  inset: 0;
  z-index: 0;
  background: black;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
    body{
        background-size: 100% 25%;
    }
}

/*FOOTER*/
footer{
    bottom: 0px;
    width: 100%;
}

.cont-back{
    background-color: transparent!important;
}

.last-back{
    background-color: #2080A9!important;
    opacity: 0.9;
}

.btn-net:hover{
    ms-transform: scale(1.3);
    o-transform: scale(1.3);
    transform: scale(1.3);
    webkit-transform: scale(1.3);
}
.btn-net{
    font-size: medium!important;
}
.btn-net-linkedin{
    background-color: #0B65C2!important;
}
.btn-net-envelope{
    background-color: #339AF0!important;
}

.container-contact{
    border: 2px solid rgb(32,128,169,0.06)!important;
      border-radius: 5px;
      width: 96%;
      margin: 20px auto;
      margin-top: 100px;
}

@media (max-width: 650px) {
    .container-contact{
        width: 82%;
    }
}

@media (max-width: 350px) {
    .container-contact{
        width: 100%;
    }
}

@media (max-width: 950px) {
    .red-cont{
        display: block!important;
    }
}
/*FOOTER*/

/*HEADER*/
.bar-header{
    padding: 0px 10px 0px 35px;
    background-color: #2080A9!important;
    opacity: 0.9!important;
    -webkit-box-shadow: 0 6px 5px #2080A9!important;
    -moz-box-shadow: 0 6px 5px #2080A9!important;
    box-shadow: 0 6px 5px #2080A9!important;
}

.flag{
    background-repeat: no-repeat;
    width: 65px;
    height: 48px;
    background-color: transparent;
    border: none;
    text-align: right;
    appearance: none;
    font-size: 15px;
    color: white;
}

/*logo*/
.logo{
    width: 55px;
    height:55px;
}
/*media logo*/
@media (max-width: 600px) {
    .logo{
        width: 45px;
        height:45px;
    }
}
/*media logo*/

.hamburger{
    background-color: #1C3144!important;
}

.bar-toggler-icon{
    vertical-align: middle;
    background-repeat: no-repeat;
    color: white;
}

/*logo*/

.nav-link{
    color: white!important;
}

/*HEADER*/

/*PRINCIPAL CONTENT*/
.first-component{
    margin-top: 70px;
}

.content{
    padding: 0 35px 0px 35px;
}
@media (max-width: 350px) {
    .content{
        padding: 0 0px 0px 0px;
    }
}
/*PRINCIPAL CONTENT*/

/*PROFILE CARD*/
.my-card{
    width: 35rem!important;
    margin: auto;
    background-color: transparent;
    color: white;
    border: 2px solid rgb(32,128,169,0.06)!important;
}

.card-img-top{
    width: 60%;
    align-self: center;
    border-radius: 50%;
}

.title{
    text-align: center;
    text-transform: uppercase;
    padding: 8px;
    color: white;
}

/*media card*/
@media (max-width: 600px) {
    .my-card{
        width: 20rem!important;
    }
}
@media (max-width: 350px){
    .my-card {
        width: 100%!important;
    }
}
/*media card*/

/*PROFILE CARD*/

/*HORIZONTAL LINE*/

.horizontal-line{
    height: 50px!important;
    background-color: transparent;
}

/*HORIZONTAL LINE*/

/*PROYECTS*/
/*img proyects*/
.img-proyect{
    -webkit-filter: grayscale(1); /* Webkit */
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* W3C */
    border-radius: var(--img-proyects--radius)!important;
 }
 .img-proyect:hover{
    -webkit-filter: none; /* Webkit */
    filter: none; /* IE6-9 */
    filter: none; /* W3C */
    ms-transform: scale(1.04);
    o-transform: scale(1.04);
    transform: scale(1.04);
    webkit-transform: scale(1.04);
 }

 .proyect:hover .link-proyect-a {
  color: rgb(0, 75, 166);
}
/*img proyects*/

/*container proyects*/
.proyects{
    margin: 70px 0px 30px 0px;
    border: 2px solid rgb(32,128,169,0.06)!important;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .proyects{
        margin: 70px 20px 30px 0px;
    }
}
@media (max-width: 350px) {
    .proyects{
        margin: 0px 0px 0px 0px;
    }
}
/*container proyects*/

/*links proyects*/
.link-proyect{
    width: 25%;
    position: relative;
    top: 90%;
    text-align: center;
    margin: -25px 0px 0px 170px;
}
.link-proyect-a{
    color: gray;
}
.link-proyect-a:hover{
    color: rgb(1, 26, 56);
}
.icon-action:hover{
    opacity: 1!important;
}

.proyect{
    margin-bottom: 35px!important;
}

/*links proyects*/

/*PROYECTS*/

/*TECH*/
a.btn-social,
.btn-social
{
    border-radius: 50%;
    color: #ffffff !important;
    display: inline-block;
    height: 80px;
    line-height: 54px;
    margin: 8px 4px;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s;
    webkit-transition: background-color .3s;
    width: 80px;
    font-size: 45px;
}

.icon-center {
    vertical-align: sub;
}

.icon-img-center{
    vertical-align: -webkit-baseline-middle;
    margin-bottom: 10px;
}

.icon-action{
    font-size: 35px; 
    padding: 0px 10px 0px 0px; 
    margin: -8px 0px 0px 0px; 
    opacity: 0.70;
}

.btn-social .fa,.btn-social i,.icon-img-center
{
    backface-visibility: hidden;
    moz-backface-visibility: hidden;
    ms-transform: scale(1);
    o-transform: scale(1);
    transform: scale(1);
    transition: all .25s;
    webkit-backface-visibility: hidden;
    webkit-transform: scale(1);
    webkit-transition: all .25s;
}
.btn-social:hover,.btn-social:focus
{
    color: #fff;
    outline: none;
    text-decoration: none;
}
.btn-social:hover .fa,.btn-social:focus .fa,.btn-social:hover i,.btn-social:focus i,.icon-img-center:hover
{
    ms-transform: scale(1.3);
    o-transform: scale(1.3);
    transform: scale(1.3);
    webkit-transform: scale(1.3);
}
.btn-social.btn-xs
{
    font-size: 9px;
    height: 24px;
    line-height: 13px;
    margin: 6px 2px;
    width: 24px;
}
.btn-social.btn-sm
{
    font-size: 13px;
    height: 36px;
    line-height: 18px;
    margin: 6px 2px;
    width: 36px;
}
.btn-social.btn-lg
{
    font-size: 22px;
    height: 72px;
    line-height: 40px;
    margin: 10px 6px;
    width: 72px;
}

.btn-html
{
    background-color: #E96228;
}
.btn-html:hover
{
    background-color: #E95100;
}
.btn-js
{
    background-color: #EFD81D;
}
.btn-js:hover
{
    background-color: #EFD30D;
}
.btn-java
{
    background-color: #B0D0DE;
}
.btn-java:hover
{
    background-color: #90D0DE;
}
.btn-typescript
{
    background-color: #2F74C0;
}
.btn-typescript:hover
{
    background-color: #2A6BAF;
}
.btn-angular
{
    background-color: #D6002F;
}
.btn-angular:hover
{
    background-color: #BD002E;
}
.btn-css3
{
    background-color: #369FD0;
}
.btn-css3:hover
{
    background-color: #006DB7;
}
.btn-mysql
{
    background-color: #DD8A00;
}
.btn-mysql:hover
{
    background-color: #005E86;
}
.btn-postgresql
{
    background-color: #426BA0;
}
.btn-postgresql:hover
{
    background-color: #3262A2;
}
.btn-spring
{
    background-color: #73B61E;
}
.btn-spring:hover
{
    background-color: #73B61E;
}
.btn-python
{
    background-color: #F6D145;
}
.btn-python:hover
{
    background-color: #356FA0;
}
.btn-php
{
    background-color: #7377AD;
}
.btn-php:hover
{
    background-color: #464A85;
}
.btn-django
{
    background-color: hsl(155, 93%, 21%);
}
.btn-django:hover
{
    background-color: #002918;
}

.tech{
    width: 100%;
    text-align: center;
    padding: 30px 0 40px 0;
    border-radius: 5px;
}

.sub-tech{
    place-content: center;
}

.tech-list{
    width: 50%;
}

/*media tech*/
@media (max-width: 600px) {
    .tech-list {
        width: 100%;
    }
}
/*media tech*/

/*TECH*/

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.gallery img {
  width: 90%;
  height: 235px;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.03);
}

/* Responsive automático */
@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}
